<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.festemberoc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QRscanner"
            android:label="@string/title_activity_qrscanner"></activity>
        <activity
            android:name=".Success"
            android:label="@string/title_activity_success"></activity>
        <activity
            android:name=".Select_female_tshirt"
            android:label="@string/title_activity_seleact_female_tshirt"></activity>
        <activity
            android:name=".Select_male_tshirt"
            android:label="@string/title_activity_select_male_tshirt"></activity>
        <activity
            android:name=".Select_fCard"
            android:label="@string/title_activity_select_f_card"></activity>
        <activity
            android:name=".pinActivity"
            android:label="@string/title_activity_pin"></activity>
    </application>

</manifest>
